{{!-- <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">Devour!</button>
</li> --}}

<li data-id="{{id}}" >
	<button class="burger-ready btn btn-success" data-id="{{id}}" data-devoured="{{devoured}}" > DEVOURE! </button>
	{{id}}-{{burger_name}}
    
</li>    